.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-button {
  margin: 10px 0 0 0;
}

.search-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.album-list {
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.album-card {
  width: 250px;
  margin: 5px 5px;
}